[Unit]
Description=Airflow webserver daemon
After=network.target

[Service]
User={{ airflow_user }}
Group={{ airflow_group }}
Environment="AIRFLOW_HOME={{ airflow_home }}"
Environment="PYENV_ROOT={{ pyenv_root }}"
Environment="PATH={{ pyenv_root }}/bin:{{ pyenv_root }}/shims:/usr/local/bin:/usr/bin:/bin"
ExecStart={{ pyenv_root }}/versions/{{ venv_name }}/bin/airflow webserver --port 443
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target