[Unit]
Description=Dgraph Alpha Service
After=network.target dgraph-zero.service
Requires=dgraph-zero.service

[Service]
Type=simple
User=root
Group=root
ExecStart={{ dgraph_install_dir }}/dgraph alpha --my localhost:9080 --zero localhost:5080
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target