[Unit]
Description=Dgraph Zero Service
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart={{ dgraph_install_dir }}/dgraph zero --my localhost:5080
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target