---
- name: Ensure RKE2 config directory exists
  ansible.builtin.file:
    path: "/etc/rancher/rke2"
    state: directory
    mode: '0755'
    owner: root
    group: root
  become: true

- name: Download RKE2 agent installation script
  ansible.builtin.get_url:
    url: https://get.rke2.io
    dest: /tmp/rke2-install.sh
    mode: '0700'
  become: true

- name: Install RKE2 agent
  ansible.builtin.command: INSTALL_RKE2_TYPE=agent /tmp/rke2-install.sh
  args:
    creates: /usr/local/bin/rke2
  become: true

- name: Deploy RKE2 Agent Configuration
  ansible.builtin.template:
    src: templates/rke2-agent-config.j2
    dest: /etc/rancher/rke2/config.yaml
    owner: root
    group: root
    mode: '0644'
  become: true

- name: Ensure RKE2 agent service file exists
  ansible.builtin.file:
    path: /etc/systemd/system/rke2-agent.service
    state: file
  become: true

- name: Ensure RKE2 agents are enabled and running
  ansible.builtin.systemd:
    name: rke2-agent
    state: started
    enabled: true
    daemon_reload: yes
  become: true

- name: Debug - Display VIP and token
  ansible.builtin.debug:
    msg: 
      - "VIP: {{ vip }}"
      - "Token: {{ rke2_token }}"
  when: inventory_hostname == groups['agent_nodes'][0]